dash==1.9.1
fastai==1.0.60
flake8==3.7.9
gdown==3.10.1
pytest-cov==2.8.1
scikit-image==0.16.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.4.0+cpu
torchvision==0.5.0+cpu
ujson==1.35
